<footer class="footer site-footer">
    <div class="columns">
        <div class="column">
            <div class="content has-text-left">
                <div>
                    © {{copyright}} Team Kuragari, alongside all associated software. Gulag is a software
                    fundamentally
                    belonging to cmyui, rather than us.
                </div>
            </div>
        </div>
        <div class="column">
            <div class="content has-text-right">
                <div>
                    <span class="j3">osu!katagiri</span><br>
                    <span>the happy place</span>
                    <br>Website Version: <span style="font-weight: bold;">Atarashii
                        {{version}}</span>
                </div>
            </div>
        </div>
    </div>
</footer>