<footer class="footer site-footer has-background-dark has-text-white">
    <div class="content has-text-left">
        <div>
            © {{copyright}} Team Kuragari, alongside all associated software. Gulag is a software fundamentally belonging to cmyui, rather than us.<br>Website Version: <span style="font-weight: bold;">Atarashii {{version}}</span>
        </div>
    </div>
</footer>