<section class="section max-width background NOCOPYANGRY" style="background: url('{{herobg title}}'); padding: 0px;">
    <section class="hero has-text-white" style="width: 100%;">
        <div class="hero-body">
            <div class="container has-text-white">
                <h1 class="title has-text-white" style="font-size: 3em;">
                    {{herotitle title}}
                </h1>
            </div>
        </div>
    </section>
</section>