<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <b style="color: white;">osu!katagiri</b>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="/leaderboards/osu/vn/pp" class="navbar-item has-text-white fuckfix">
        leaderboards
      </a>

      <a class="navbar-item has-text-white fuckfix">
        beatmaps
      </a>

      <a class="navbar-item has-text-white fuckfix">
        documentation
      </a>

      <div class="navbar-item has-dropdown is-arrowless is-hoverable has-text-white  fuckfix">
        <a class="navbar-link has-text-white is-arrowless fuckfix">
          community
        </a>

        <div class="navbar-dropdown has-background-dark has-text-white">
          <a class="navbar-item has-text-white fuckfix">
            Team
          </a>
          <a class="navbar-item has-text-white fuckfix">
            Discord
          </a>
          <a class="navbar-item has-text-white fuckfix">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item has-text-white fuckfix">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item nav-support">
        <a href=""><span class="icon">
            <i class="fas fa-heart" style="color: #FF5959;"></i>
          </span>
        </a>
      </div>
      <div class="navbar-item">
        <a href="/login" class="nav-avatar" id="user-avatar"></a>
      </div>
    </div>
</nav>