<section class="section main-background">
    <div class="container">
        <article class="tile is-child notification main-body">
            <div class="waifu"></div>
            <div class="content inline main-content">
                <span class="main-content-title j2">{{error_name}}</span>
                <div class="main-content-body j5">
                    {{{error_message}}}
                    <br><br>
                    <a class="j5" style="color: #f5dd42 !important;">Homepage</a>
                </div>
            </div>
        </article>
    </div>
</section>