<style>
    .user-info {
        width: auto;
        height: auto;
        word-wrap: break-word !important;
        background-color: #34313e !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-avatar {
        height: 128px;
        width: 128px;
        border-radius: 14px;
        background-size: 120%;
        position: relative;
    }

    .username {
        padding-top: 2px;
    }

    .verify-check {
        margin-left: 4px;
        background-color: #3a94ff;
        padding: 4px;
        color: #fff;
        border-radius: 12px;
    }

    .country {
        position: relative;
        top: 2.8px;
    }

    .country img {
        width: 18px;
        height: auto;
    }

    .user-body {
        width: auto;
    }

    .no-underline-tooltip {
        border-bottom: none !important;
    }
</style>

<section class="section main-background">
    <div class="container">
        <div class="columns main-body" style="height: auto !important;">
            <div class="column user-info" id="user-info">
                <div class="user-avatar" style="background-image: url(http://a.lupinus.ml/{{user.id}});" />
            </div>
            <div class="user-name">
                <span class="username"><span class="country">{{country_code}}</span> {{user.name}}</span>
                <span class="no-underline-tooltip has-tooltip-arrow" data-tooltip="Verified Player"><i class="fa fa-check verify-check"></i>
            </div>
        </div>
        <div class="column is-four-fifths">
            <div id="user-body" style="width: auto;">
                {{country_code}}
            </div>
        </div>
    </div>
</section>

<script>
    twemoji.parse(document.body);
</script>