<section class="section main-background">
    <div class="container">
        <article class="tile is-child notification main-body">
            <div class="waifu"></div>
            <div class="content inline main-content">
                <span class="main-content-title j2">welcome to the afk box</span>
                <div class="main-content-body j5">
                    make yourself at home we'll be here for a while
                </div>
            </div>
        </article>
    </div>
</section>