<link rel="stylesheet" href="/static/css/pages/login.v1.css" />

<section class="section" style="display: flex; justify-content: center;">
    <div id="main">
        <nav class="panel login-panel main-background">
            <p class="panel-heading">
                Login to Katagiri
            </p>

            <form id="login-form" method="post" action="/auth/login">
                <label style="color:#c4ccd8; padding-left: 10px;">Username: </label>
                <div class="panel-block" style="padding-top: 2px;">
                    <input class="input" name="username" type="text" placeholder="Username">
                </div>

                <label style="color: #c4ccd8; padding-left: 10px; padding-bottom: 0px;">Password: </label>
                <div class="panel-block" style="padding-top: 2px;">
                    <input class="input" name="password" type="password" placeholder="Password">
                </div>
                <div class="panel-block" style="border-top: 1px solid #2e3135;">
                    <button class="button is-link is-outlined" type="submit" form="login-form">
                        Submit
                    </button>
                </div>
                <div class="panel-block" style="padding-top: 0px">
                    <span style="color: white; font-size: 0.7em;">Help, I forgot my <a href="#">password</a>! (and or <a
                            href="#">username</a>)</span>
                </div>
            </form>
        </nav>
    </div>
</section>

<script src="/static/js/pages/login.v1.js"></script>