body {
    --base: 213;
    --base-deg: 244deg;
}

.leaderboard-panel {
    width: 55%;
    background-color: #2f343a;
    align-self: flex-start;
}

.leaderboard-panel > p.panel-heading {
    color: white;
    background-color: #22262a;
}

.leaderboard-panel > p.panel-tabs {
    color: white;
    background-color: #2f343a;
}

.leaderboard-panel > p.panel-tabs:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.leaderboard {
    color: white;
    background-color: #2f343a;
}

.panel-block:not(:last-child),
.panel-tabs:not(:last-child) {
    border-bottom: none;
}

.panel-tabs a {
    border-bottom: 1px solid #56a5e8;
    margin: 0px 5px 0px 5px;
    color: white !important;
}

.panel-tabs a.is-active {
    border-bottom: 3px solid #56a5e8;
    font-weight: bold;
    color: white !important;
}

.leaderboard-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.leaderboard-sort {
    background-color: #393f46 !important;
}

.leaderboard-background > p.panel-tabs {
    padding-bottom: 0px;
}

a.paginator-btn {
    background-color: hsl(var(--base), 10%, 25%);
    color: #fff !important;
    font-size: 12px;
    display: flex;
    align-items: baseline;
    margin: 0 8px;
    border-radius: 100px;
    padding: 4px 14px;
}

a.paginator-btn.disabled {
    cursor: default;
    color: #fff !important;
    background-color: hsl(var(--base), 10%, 10%);
    color: hsl(var(--base), 30%, 80%) !important;
}

.paginator-page.--selected {
    color: #444 !important;
    text-shadow: none;
    background-color: hsl(var(--base), 100%, 70%);
}

.paginator-page {
    margin: 0 4px;
    padding: 0 9.5px;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-pack: center;
    justify-content: center;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    color: white !important;
    transition: 200ms color, 200ms background-color;
}

.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 18px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #111;
}

// LEADERBOARD
.overall-flag:hover {
    filter: brightness(1.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.33);
}

.leaderboard-table {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    border-spacing: 0 3px;
    border-collapse: separate;
    padding-bottom: 24px;
}

.leaderboard-heading {
    font-weight: 400;
    color: white;
    opacity: 0.7;
    padding: 5px 12px;
    text-align: center;
    font-size: 12px;
}

.leaderboard-heading--main {
    width: 100%;
}

.leaderboard-column {
    background-color: hsl(var(--base), 15%, 25%);
    color: #222;
    height: 38px;
    font-size: 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.leaderboard-column,
.leaderboard-column.inactive:hover > .ranking-page-table__column {
    background-color: hsl(var(--base), 15%, 25%);
}

.country {
    position: relative;
    top: 2.8px;
    opacity: 1 !important;
}
.country img {
    width: 21px;
    height: auto;
    padding-right: 5px;
    opacity: 1 !important;
}

tr.leaderboard-column td {
    color: #fff !important;
    border-bottom-color: hsl(var(--base), 10%, 15%);
    vertical-align: middle;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
}

td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.heading-important {
    opacity: 1;
}

td.player-rank {
    background-color: hsl(var(--base), 15%, 27%) !important;
    border-left-color: hsl(var(--base), 20%, 20%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

td.player-main {
    text-align: left !important;
    font-size: 1.2em;
    padding: 10px 10px 10px 13px !important;
}

td {
    display: table-cell;
    vertical-align: middle;
}